* {
    border: none;
    border-radius: 0;
    font-family: Iosevka Nerd Font;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: #2a2e38;
    color: #bbc2cf;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces button {
    padding: 5px 5px;
    background-color: transparent;
    color: #bbc2cf;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #bbc2cf;
}

#workspaces button.focused {
    background-color: #2a2e38;
    box-shadow: inset 0px -3px #bbc2cf;
}

#workspaces button.urgent {
	color: #2a2e38;
	background-color: #7bc275
}

#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: #2a2e38;
    color: #bbc2cf;
    padding: 5px 5px 5px 5px;
}

#battery {
    background-color: #2a2e38;
    color: #bbc2cf;
    padding: 5px 5px 5px 5px;
}

#battery.charging, #battery.plugged {
    color: #bbc2cf;
    background-color: #2a2e38;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #2a2e38;
    color: #bbc2cf;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

