* {
	margin: 2px 2px 2px 2px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15;
}
#workspaces,
#clock,
#battery {
  background-color: #1a1b26;
  padding: 0 10px;
  margin: 2px 4px 4px 4px;
}
window#waybar { 
  background-color: #1a1b26;
  color: #a9b1d6;
}

#window {
        background: #1a1b26;
	border-radius: 3px;
	padding: 0px 15px 0px 15px;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #a9b1d6;
}

#workspaces button:hover {
  background-color: #7aa2f7
}

#workspaces button.focused {
  color: #c678dd;
}


