/* Change Only Theme Colors & Custom Font */

.theme-dark {

  --background-primary: #1a1b26;
  --background-secondary: #1a1b26;
  --background-tertiary: #1a1b26;
  --background-secondary-alt: #1a1b26;
  --channeltextarea-background: #24283b;
  --interactive-muted: #7aa2f7;
  --background-floating: #242730;
  --text-normal: #c0caf5;
  --header-primary: #c0caf5;
  --interactive-active: #bb9af7;
  --scrollbar-auto-thumb: #2a2e38;
  --scrollbar-auto-track: #24283b;
  --header-secondary: #51afef;
  --background-accent: #242730;	
}



/* Force color */

.theme-dark .container-1D34oG {

  background-color: #1a1b26;

}



.categoryHeader-O1zU94, .theme-dark .autocomplete-1vrmpx {

  background-color: #1a1b26;

}



.theme-dark .selected-1Tbx07 {

  background-color: #3b4252;

}



/* Fonts */

* {

  font-family: "Mononoki Nerd Font";

}



code {

  font-family: "Ubuntu Mono Nerd Font", monospace !important;

}



/* Hide Inbox Button & Support Button */

/*div[aria-label="Inbox"] {

  display: none

}*/



a[href="https://support.discord.com"] {

  display: none

}



/* Round Searchbar */

div[aria-label="Search"] {

  border-radius: 8px

}



/* Change Color Of Placeholder On Input Bar */

.placeholder-37qJjk.fontSize16Padding-3Wk7zP {

  color: transparent

}





/* Q's Role Color */

.username-1A8OIy.clickable-1bVtEA[style="color: rgb(153, 45, 34);"] {

  color: #bf616a !important

}



/* remove the annoying warning */

/* <div class="channelNotice-1-XFjC guildMFAWarning-3GEzs8">

<div class="message-3SOT5P">

<div>

<p>This server requires members with moderation powers to have Two-Factor Authentication.</p>

<p>You cannot take any moderation actions until you enable it.</p>

</div>

<button type="button" class="btn-11C5_u button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN">

<div class="contents-18-Yxp">Resolve</div>

</button>

</div>

</div> */



.channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {

  display: none;

}
